.task-list {
    width: 100%;
    justify-content: center;
    align-content: center;
}

#tasksTable {
    border-collapse: collapse;
    width: 95%;
    padding-top: 20px;
    margin: 10px 3% 0px 3%;
  }
  
  #tasksTable thead {
    background-color: #5B8E9F;
    color: white;
  }
  
  #tasksTable th, #tasksTable td {
    padding: 15px;
    border: 1px solid #545454;
    text-align: left;
  }
  
  #tasksTable tbody tr:nth-child(even) {
    background-color: #f3f2f2;
  }

  #tasksTable td {
    word-wrap: break-word; /* Enable text wrapping inside cells */
}

.filter-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

    .filter-bar select {
        width: fit-content;
        padding: 8px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .filter-bar input[type="text"] {
        width: fit-content;
        padding: 8px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    
    .filter-bar input[type="date"] {
        padding: 8px;
        margin-top: 10px;
        height: 60%;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .filter-bar button {
        background-color: #B6CDC8;
        color: #355147;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        margin: 25px 0px 30px 0px;
    }

    .clear-filters:hover {
        background-color: #ff5252;
    }

.filter-item {
    display: flex;
    flex-direction: column;
}

    .filter-item label {
        font-size: 14px;
        font-weight: bold;
        color: #355147;
    }

.filter-summary {
    padding: 10px 10px;
    background-color: #e8e8e8;
    text-align: center;
}




  