.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(178 178 178 / 51%);
    z-index: 1000;
}

    .modal .task-form-container {
        position: fixed;
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%;
        background-color: #f3f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 20px;
        z-index: 1001;
    }

.task-form-container .form-control {
    margin-bottom: 10px;
}

    .task-form-container .form-control label {
        display: block; /* Makes label take the full width and places it above the input/select */
        margin-bottom: 5px;
        font-size: 14px; /* Adjust label text size as needed */
    }

.task-form-container .form-row {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjusts the space between controls within the same row */
}

    .task-form-container .form-row .form-control {
        flex: 1; /* Makes each form control take equal space within a row */
    }

/* Adjust the button styling as needed */
.task-form-container button {
    margin-top: 10px;
    background-color: #B6CDC8;
    color: #355147;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    /* Additional button styles */
}

.task-form-container label {
    font-size: 18px; /* Adjust the size as needed */
}

.task-form input {
    width: 100%; /* Make input fields take up the full container width */
    padding: 8px; /* Add some padding inside the input fields for better readability */
    margin: 5px 0 15px; /* Add some margin for spacing between input fields */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc; /* Add a border to the input fields */
    border-radius: 4px; /* Optionally add rounded corners */
}

    .task-form input[type="date"],
    .task-form input[type="time"] {
        background-color: #f8f8f8; /* Slightly different background to distinguish date/time fields */
        border: 1px solid #ddd; /* Lighter border color */
    }

    .task-form input::placeholder {
        color: #999; /* Lighter text color for placeholders */
        opacity: 1; /* Ensure the placeholder is fully visible */
    }

    .task-form input:focus {
        border-color: #5B8E9F; /* Highlight color when input is focused */
        outline: none; /* Removing the default outline to use only the border color change */
    }

.task-form select {
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    padding: 8px 10px; /* Padding inside the dropdown */
    font-size: 14px; /* Text size */
    align-content: center;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    outline: none; /* Remove the default focus outline */
    margin-bottom: 15px; /* Space below each dropdown */
    width: 100%; /* Full width */
}

    .task-form select:focus {
        border-color: #5B8E9F; /* Highlight color when input is focused */
        outline: none; /* Removing the default outline to use only the border color change */
    }

.top-bar {
  display: flex;
  height: 80px;
  align-items: center; /* Align items vertically in the center */
  background-color: #B6CDC8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.app-name {
  color: #355147; /* Adjust color as needed */
  margin-right: auto; /* Pushes everything else in the flex container to the right */
  font-weight: bold;
  font-size: 20px;
  padding-left: 0%;
}

.nav-links {
  display: flex;
  gap: 20px; /* Space between links */
  padding-right: 10px;
}

.nav-links a {
  color: #9F6C5B;
  text-decoration: none;
  font-style: italic;
}

.nav-links a:hover {
  text-decoration: underline;
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #5B8E9F;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    cursor: pointer;
    font-size: 24px;
}

.fab:hover {
  background-color: #0056b3; /* Darker blue */
}

.task-form-container {
  /* Style your form container here */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}


#tasksTable {
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
  }
  
  #tasksTable thead {
    background-color: #5B8E9F;
    color: white;
  }
  
  #tasksTable th, #tasksTable td {
    padding: 15px;
    border: 1px solid #545454;
    text-align: left;
  }
  
  #tasksTable tbody tr:nth-child(even) {
    background-color: #f3f2f2;
  }

  #tasksTable td {
    word-wrap: break-word; /* Enable text wrapping inside cells */
}



  