.top-bar {
    display: flex;
    flex-direction: column;
    height: 5%;
    width: 100%;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
    background-color: #B6CDC8;
    padding: 0px 5px 10px 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 8px;
}

    .top-bar img {
        width: 55%;
    }

.top-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button {
    color: #9F6C5B;
    text-decoration: none;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.logout-button :hover {
    text-decoration: underline;
} 

.logo {
    width: 55%;
    will-change: filter;
    transition: filter 300ms;
}

.name-links {
    display: flex;
    position: center;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    width: 65%;
    height: fit-content;

}

.app-name {
    color: #355147; /* Adjust color as needed */
    font-weight: bold;
    font-size: 24px;
}

.links {
    justify-content: center;
    align-content: center;
    margin-top: 0%;
}

.nav-links {
    display: flex;
    gap: 20px; /* Space between links */
}

    .nav-links a {
        color: #9F6C5B;
        text-decoration: none;
        font-style: italic;
        font-size: 16px;
        font-weight: 300;
    }

        .nav-links a:hover {
            text-decoration: underline;
        }

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #5B8E9F;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    cursor: pointer;
    font-size: 24px;
}

    .fab:hover {
        background-color: #0056b3; /* Darker blue */
    }
